<form [formGroup]="form" (ngSubmit)="onSubmit()" class="m-2 text-center">
    <div class="m-2">
        <input type="password" formControlName="oldPassword" placeholder="Old password" class="p-1">
        <app-password-validation [form]="form" [controlName]="'oldPassword'"></app-password-validation>
    </div>
    <div class="m-2">
        <input type="password" formControlName="password" placeholder="New password" class="p-1">
        <app-password-validation [form]="form" [controlName]="'password'"></app-password-validation>
    </div>
    <div class="m-2">
        <input type="password" formControlName="passwordConfirm" placeholder="Confirm the new password" class="p-1">
        <app-password-confirm-validation [form]="form" [controlName]="'passwordConfirm'"></app-password-confirm-validation>
    </div>
    @if(responseMessage) {
        <p class="whitespace-pre-line" [class]="succeeded ? 'text-green-800' : 'text-red-900'">
            {{responseMessage}}
        </p>
    }
    <button type="submit" class="button button-primary">
        Change password
    </button>
    <button type="button" (click)="backToSecurityTab()" class="button button-secondary ml-4">
        Cancel
    </button>
</form>
