.forum-unread-icon {
    background-image: url("/assets/design/forum_unread_icon.png");
    background-repeat: no-repeat;
}

.forum-read-icon {
    background-image: url("/assets/design/forum_read_icon.png");
    background-repeat: no-repeat;
}