<div class="m-2 flex">
    <div class="mx-2">
        <button type="button" [routerLink]="['/forums', 'create']" class="button button-primary">
            Create subforum
        </button>
    </div>
    <div class="mx-2">
        <button type="button" [routerLink]="['/forums', forum.id, 'topics', 'create']" class="button button-primary">
            Create topic
        </button>
    </div>
</div>

@if(forum) {
    @if(forum.subforums && forum.subforums.length > 0) {
        <div class="mx-4 mt-4 bg-orange-300 text-center px-5 rounded-md border-solid border-teal-700 border-b-[1px]">
            Subforums
        </div>
        <div class="bg-orange-500 grid grid-cols-12 mx-4 px-2 rounded-md">
            <div class="col-span-1">
            </div>
            <div class="col-span-9">
                Subforum
            </div>
            <div class="col-span-1">
                Subforums
            </div>
            <div class="col-span-1">
                Topics
            </div>
        </div>
    }
    @for(category of forum.subcategories; track category) {
        <div class="mx-4">
            <div class="bg-orange-300 text-center px-5 rounded-md border-solid border-teal-700 border-b-[1px]">
                {{category}}
            </div>
            <div class=" bg-amber-200 rounded-md">
                @for(subforum of subforums.get(category); track subforum.id) {
                    <div class="grid grid-cols-12 px-2 border-solid border-teal-700 border-b-[1px]">
                        <div class="col-span-1" [class]="subforum.isUnread ? 'forum-unread-icon' : 'forum-read-icon'">
                        </div>
                        <div class="col-span-9">
                            <a (click)="viewForum(subforum.id)" class="text-lg hover:underline">
                                {{subforum.name}}
                            </a>
                            <p class="text-sm text-gray-600">{{subforum.description}}</p>
                        </div>
                        <div class="col-span-1">
                            <p>{{subforum.subforumsCount}}</p>
                        </div>
                        <div class="col-span-1">
                            <p>{{subforum.topicsCount}}</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    @if(forum.topics && forum.topics.length > 0) {
        <div class="mx-4 mt-4 bg-orange-300 text-center px-5 rounded-md border-solid border-teal-700 border-b-[1px]">
            Topics
        </div>
        <div class="bg-orange-500 grid grid-cols-12 mx-4 px-2 rounded-md">
            <div class="col-span-1">
            </div>
            <div class="col-span-1">
            </div>
            <div class="col-span-9">
                Title
            </div>
            <div class="col-span-1">
                Messages
            </div>
        </div>
        @for(topic of forum.topics; track topic.id) {
            <div class="grid grid-cols-12 px-2 border-solid border-teal-700 border-b-[1px]">
                <div class="col-span-1" [class]="topic.isUnread ? 'forum-unread-icon' : 'forum-read-icon'">
                </div>
                <div class="col-span-1">
                    <p>{{topic.isClosed ? "Closed" : ""}}</p>
                </div>
                <div class="col-span-9">
                    <a [routerLink]="['topics', topic.id]" class="text-lg hover:underline">
                        {{topic.title}}
                    </a>
                </div>
                <div class="col-span-1">
                    <p>{{topic.messagesCount}}</p>
                </div>
            </div>
        }
    }
}
