<form [formGroup]="form" (ngSubmit)="onSubmit()" class="m-2 py-8 text-center">
    <div class="m-2">
        <input type="text" formControlName="userName" placeholder="Name" class="p-1">
        @if(form.controls['userName'].touched && form.controls['userName'].errors) { 
            <p>
                @if(form.controls['userName'].errors['required']) {
                    <span class="text-red-900">Username is required</span>
                }
            </p>
        }
    </div>
    <div class="m-2">
        <input type="password" formControlName="password" placeholder="Password" class="p-1">
        @if(form.controls['password'].touched && form.controls['password'].errors) { 
            <p>
                @if(form.controls['password'].errors['required']) {
                    <span class="text-red-900">Password is required</span>
                }
            </p>
        }
    </div>
    @if(loginResponse && !loginResponse.succeeded) {
        <p class="whitespace-pre-line text-red-900">{{loginResponse.message}}</p>
    }
    <button type="submit" class="button button-primary">
        Login
    </button>
</form>