@if(form.controls[controlName].touched && form.controls[controlName].errors) { 
    <p>
        @if(form.controls[controlName].errors?.['required']) {
            <span class="text-red-900">Password is required</span>
        }
        @if(form.controls[controlName].errors?.['minlength']) {
            <span class="text-red-900">Password must be at least 8 characters long.</span>
        }
        @if(form.controls[controlName].errors?.['maxlength']) {
            <span class="text-red-900">Password can be at most 50 characters long.</span>
        }
    </p>
}
