<form [formGroup]="form" (ngSubmit)="onSubmit()" class="m-2 py-8 text-center">
    <div class="m-2">
        <input type="text" formControlName="userName" placeholder="Name" class="p-1">
        <app-username-validation [form]="form" [controlName]="'userName'"></app-username-validation>
    </div>
    <div class="m-2">
        <input type="text" formControlName="userEmail" placeholder="Email" class="p-1">
        <app-email-validation [form]="form" [controlName]="'userEmail'"></app-email-validation>
    </div>
    <div class="m-2">
        <input type="password" formControlName="password" placeholder="Password" class="p-1">
        @if(form.controls['password'].touched && form.controls['password'].errors) { 
            <p>
                @if(form.controls['password'].errors['required']) {
                    <span class="text-red-900">Password is required</span>
                }
                @if(form.controls['password'].errors['minlength']) {
                    <span class="text-red-900">Password must be at least 8 characters long.</span>
                }
                @if(form.controls['password'].errors['maxlength']) {
                    <span class="text-red-900">Password can be at most 50 characters long.</span>
                }
            </p>
        }
    </div>
    <div class="m-2">
        <input type="password" formControlName="passwordConfirm" placeholder="Confirm Password" class="p-1">
        @if(form.controls['passwordConfirm'].touched && (form.errors || form.controls['passwordConfirm'].errors)) { 
            <p>
                @if(form.controls['passwordConfirm'].errors?.['required']) {
                    <span class="text-red-900">Confirm the password</span>
                } @else if (form.errors?.['mismatch']) {
                    <span class="text-red-900">The passwords doesn't match</span>
                }
            </p>
        }
    </div>
    @if(registrationError) {
        <p class="whitespace-pre-line text-red-900">{{registrationError}}</p>
    }
    <button type="submit" class="button button-primary">
        Register
    </button>
</form>