<form [formGroup]="form" (ngSubmit)="onSubmit()" class="m-2 py-8 text-center">
    <div class="m-2">
        <input type="text" formControlName="userName" placeholder="Name" class="p-1">
        <app-username-validation [form]="form" [controlName]="'userName'"></app-username-validation>
    </div>
    <div class="m-2">
        <input type="text" formControlName="userEmail" placeholder="Email" class="p-1">
        <app-email-validation [form]="form" [controlName]="'userEmail'"></app-email-validation>
    </div>
    <div class="m-2">
        <input type="password" formControlName="password" placeholder="Password" class="p-1">
        <app-password-validation [form]="form" [controlName]="'password'"></app-password-validation>
    </div>
    <div class="m-2">
        <input type="password" formControlName="passwordConfirm" placeholder="Confirm Password" class="p-1">
        <app-password-confirm-validation [form]="form" [controlName]="'passwordConfirm'"></app-password-confirm-validation>
    </div>
    @if(registrationError) {
        <p class="whitespace-pre-line text-red-900">{{registrationError}}</p>
    }
    <button type="submit" class="button button-primary">
        Register
    </button>
</form>